@charset "UTF-8";
/*===reset-star===*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
tr,
td,
section,
a,
input,
span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
html,
body {
  -webkit-user-select: none;
  user-select: none;
  background: #f5f5f5;
}
body {
  font-family: 'PingFangSC-Regular', 'DroidSansFallback', "微软雅黑";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th,
td {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
input[type=button],
button {
  -webkit-appearance: none;
  -webkit-user-select: none;
}
a,
img,
input,
select,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
img {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a,
input,
img,
select {
  outline: none;
  border: none;
}
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input::-webkit-search-cancel-button {
  display: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
::-webkit-scrollbar {
  display: none;
}
img {
  -webkit-touch-callou: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
/**弹窗**/
.alertshade {
  max-width: 270px;
  padding: 15px 30px;
  background: rgba(101, 83, 86, 0.7);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  position: fixed;
  display: none;
  box-sizing: border-box;
}
html {
  font-family: 'PingFangSC-Regular', 'DroidSansFallback';
  color: #353535;
  background: #f1f2f6;
  height: 100%;
  overflow: hidden;
}
html body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 100%;
  background: #f5f5f5;
  font-size: .28rem;
}
@font-face {
  font-family: 'PingFangSC-Regular';
}
.after {
  content: "";
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}
.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
}
.flex-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
/*主轴居中*/
.flex-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
/*次轴居中*/
.flex-mid {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
.logo-pic {
  height: .72rem;
  width: .72rem;
}
.type-pic {
  height: .9rem;
  width: .9rem;
}
.portrait-pic {
  height: 1.2rem;
  width: 1.2rem;
}
.goods-pic-sm {
  height: 1.3rem;
  width: 1.3rem;
}
.goods-pic-md {
  height: 1.5rem;
  width: 1.5rem;
}
.goods-pic-bg {
  height: 2.24rem;
  width: 2.24rem;
}
.goods-pic-lg {
  height: 3.4rem;
  width: 3.4rem;
}
.my-icon {
  height: .48rem;
  width: .48rem;
}
.top-icon {
  height: .48rem;
  width: .48rem;
}
.bottom-icon {
  height: .42rem;
  width: .42rem;
}
.sm-icon {
  width: .32rem;
  height: .32rem;
}
.level-icon {
  width: .26rem;
  height: .26rem;
}
.arrow-icon {
  width: .2rem;
  height: .2rem;
}
div.am-toast.am-toast-mask .am-toast-notice {
  max-width: 5.4rem;
}
div.am-toast.am-toast-mask .am-toast-notice .am-toast-notice-content .am-toast-text {
  background: rgba(101, 83, 86, 0.7);
  box-sizing: border-box;
  padding: .3rem;
}
.am-modal-wrap .am-modal-content .am-modal-header .am-modal-title {
  line-height: .5rem;
}
.am-modal-wrap .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
  color: #be824e;
}
div.am-modal-button-group-v .am-modal-button {
  color: #be824e;
  font-size: 0.34rem;
  height: 0.85rem;
  line-height: 0.85rem;
}
div.am-modal-wrap .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button {
  color: #be824e;
  font-size: 0.34rem;
  height: 0.85rem;
  line-height: 0.85rem;
}
.list-view-container .am-list-view-scrollview-content .am-list-body {
  border-top: 0;
}
.list-view-container .am-list-view-scrollview-content .am-list-body:after {
  border-bottom: 0;
}
.list-view-container .zscroller-scrollbar-y {
  display: none;
}
.h1 {
  width: 100%;
  height: .02rem;
  background: #f1f2f6;
}
.h5 {
  width: 100%;
  height: .1rem;
  background: #f1f2f6;
}
.h10 {
  width: 100%;
  height: .2rem;
  background: #f5f5f5;
}
.one-line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.two-line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.three-line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.border-left {
  border-left: 1px solid #f1f2f6;
  box-sizing: border-box;
}
.border-right {
  border-right: 1px solid #f1f2f6;
  box-sizing: border-box;
}
.border-top {
  border-top: 1px solid #f1f2f6;
  box-sizing: border-box;
}
.border-bottom {
  border-bottom: 1px solid #f1f2f6;
  box-sizing: border-box;
}
.header_top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.old_through {
  text-decoration: line-through;
}
.am-navbar .am-navbar-left {
  padding-left: 0rem;
}
.am-navbar .am-navbar-left .am-navbar-left-content .back-icon img {
  width: 100%;
  height: 100%;
}
div.am-toast {
  font-size: 0.26rem;
}
div.am-toast-notice-content .am-toast-text {
  background-color: #C38E60;
}
div.am-toast.am-toast-mask .am-toast-notice .am-toast-notice-content .am-toast-text {
  background-color: #C38E60;
}
div.am-modal-title {
  color: #353535;
  font-size: 0.34rem;
}
div.am-toast > span {
  max-width: initial;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-ms-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-moz-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.loading_box {
  width: 100%;
  height: 1.6rem;
  position: relative;
}
.loading_box .loading_bg {
  width: 28.8rem;
  height: 100%;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: contain;
}
.loading_box .loading_bg.toRun {
  animation: animatedBackground 12s linear infinite;
  -ms-animation: animatedBackground 12s linear infinite;
  -moz-animation: animatedBackground 12s linear infinite;
  -webkit-animation: animatedBackground 12s linear infinite;
}
.loading_box .xiaolu {
  width: 1rem;
  position: absolute;
  left: 60%;
  bottom: 0;
}
.apx_loading {
  background: #F5F5F5;
}
.apx_loading .am-pull-to-refresh-down .am-pull-to-refresh-indicator {
  margin-top: -1.6rem;
}
.apx_loading .am-pull-to-refresh-down .am-pull-to-refresh-indicator {
  margin-top: -1.6rem;
}
.apx_loading .am-pull-to-refresh-indicator {
  height: 1.6rem;
}
div.am-picker-popup-header {
  background-image: none;
  border-bottom: #E2E1E1 1px solid;
}
div.am-picker-col-indicator {
  border-top: 1PX solid #E2E1E1;
  border-bottom: 1PX solid #E2E1E1;
  height: 0.78rem;
}
div.am-picker-col-item {
  height: 0.78rem;
  line-height: 0.78rem;
}
.am-tabs-default-bar-underline:before {
  display: block;
  content: " ";
  width: 30%;
  height: 0.04rem;
  background: #fff;
  position: absolute;
  left: -1px;
  bottom: -1px;
}
.am-tabs-default-bar-underline:after {
  display: block;
  content: " ";
  width: 30%;
  height: 0.04rem;
  background: #fff;
  position: absolute;
  right: -1px;
  bottom: -1px;
}
div.am-picker-popup-item {
  color: #BE824E;
}
div.am-picker-popup-title {
  color: #555555;
}
.pad_right {
  padding-right: 2em;
}
.scroll_div {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.scroll_begin,
.scroll_end {
  display: inline-block;
}
.sumDetail-container .trade_list .am-flexbox .am-flexbox-item.time_right_txt {
  text-align: left;
  color: #555555;
  font-size: 0.24rem;
}
.sumDetail-container .trade_list .am-flexbox .am-flexbox-item.time_right_txt .money_num {
  font-size: 0.36rem;
  padding-left: 0.05rem;
}
.allyTpl.new_time_line .title_ally {
  background: #F8F8F8;
  padding: 0.25rem 0.3rem;
}
.allyTpl.new_time_line .title_ally .times .time_box {
  padding: 0.05rem 0.15rem;
  background: #fff;
  border: 1px solid #E2E1E1;
  margin-right: 0.15rem;
  border-radius: 0.04rem;
}
.sumDetail-container .timeGrid .am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:first-child) .am-grid-item-content:before {
  display: inline-block;
  content: ' ';
  width: 1px;
  height: 0.8rem;
  position: absolute;
  left: 0;
  background: #E2E1E1;
  top: 50%;
  margin-top: -0.4rem;
}
.grid_time_box.allyTpl .title_ally {
  padding: 0;
}
.grid_time_box.allyTpl .title_ally .times .time_box {
  width: auto;
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 0.06rem 0.12rem;
  margin-right: 0;
  margin-top: 0.05rem;
  height: 0.42rem;
  padding-bottom: 0.02rem;
  padding-right: 0.28rem;
}
.grid_time_box.allyTpl .title_ally .times .time_box:last-child {
  margin-left: 0.03rem;
}
.grid_time_box.allyTpl .title_ally .times .sj {
  position: absolute;
  right: 0.05rem;
  top: 0.14rem;
}
.sumDetail-container .timeGrid .show_money_grid.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content {
  background: #F8F8F8;
}
.toptabs .timeGrid .money_account {
  font-size: 0.36rem;
}
.toptabs .timeGrid .money_account span {
  font-size: 0.36rem;
  padding-left: 0.04rem;
}
.toptabs .timeGrid .ck_top_sd.am-grid .am-flexbox .am-flexbox-item.am-grid-item:before {
  padding-bottom: 1.3rem;
}
.toptabs .timeGrid .ck_top_sd.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  height: 1.3rem;
}
.gridHeader {
  height: 0.78rem;
  line-height: 0.78rem;
  font-size: 0.3rem;
  border-bottom: 1PX solid #F1F2F6;
  padding-left: 0.3rem;
  background: #fff;
}
.awardGrid .am-flexbox.am-flexbox-justify-center.am-flexbox-align-stretch:first-child {
  border-bottom: 1PX solid #F1F2F6;
}
.toptabs.awardIndex .am-grid-text .money_account {
  font-size: 0.36rem;
}
.toptabs.awardIndex .ck_top_sd.am-grid .am-flexbox .am-flexbox-item.am-grid-item:before {
  padding-bottom: 1.3rem;
}
.toptabs.awardIndex .ck_top_sd.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  height: auto;
}
.toptabs.awardIndex .am-grid-text {
  width: 100%;
}
.toptabs.awardIndex .am-grid-text > div {
  width: 100%;
}
.toptabs.awardIndex .tax_icon.am-icon {
  width: 0.4rem;
}
body #init {
  height: 100%;
}
body #init #my-container {
  height: 100%;
  overflow: auto;
}
.maybeYouLove-list-wrap {
  width: 100%;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
}
.maybeYouLove-list-wrap .list-row {
  overflow: hidden;
}
.maybeYouLove-list-wrap .list-row .list-item {
  width: 50%;
  padding-right: 0.3rem;
  box-sizing: border-box;
  float: left;
}
.maybeYouLove-list-wrap .list-row .list-item dl {
  width: 100%;
  padding-bottom: 0.24rem;
  box-sizing: border-box;
}
.maybeYouLove-list-wrap .list-row .list-item dl dt {
  position: relative;
}
.maybeYouLove-list-wrap .list-row .list-item dl dt img {
  display: block;
  width: 100%;
}
.maybeYouLove-list-wrap .list-row .list-item dl dt .tip {
  display: block;
  width: 0.3rem;
  padding: 0.04rem 0;
  box-sizing: border-box;
  font-size: 0.18rem;
  color: #BE824E;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #BE824E;
  border-radius: 1px;
  position: absolute;
  top: 0.12rem;
  left: 0.12rem;
  text-align: center;
}
.maybeYouLove-list-wrap .list-row .list-item dl dt .bank-tip {
  display: block;
  width: 1.44rem;
  height: 0.64rem;
  font-size: 0.44rem;
  color: #fff;
  text-align: center;
  line-height: 0.64rem;
  position: absolute;
  right: 0;
  top: 0.24rem;
  background: url('../img/bank-tip.png') no-repeat;
  background-size: 100%;
}
.maybeYouLove-list-wrap .list-row .list-item dl dt .top-rank {
  display: block;
  width: .48rem;
  height: .48rem;
  font-size: .18rem;
  color: #BE824E;
  text-align: center;
  padding-top: .02rem;
  position: absolute;
  right: .12rem;
  top: .12rem;
  background: url('../img/top_rank.png') no-repeat;
  background-size: 100%;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p {
  text-align: left;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(1) {
  height: 0.72rem;
  line-height: 0.72rem;
  background: #F9F2EC;
  border-radius: 0 0 0.08rem 0.08rem;
  font-size: 0.24rem;
  color: #BE824E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.2rem;
  box-sizing: border-box;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(2) {
  width: 100%;
  overflow: hidden;
  margin-top: 0.12rem;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(2) span {
  display: block;
  margin-right: 0.2rem;
  color: #fff;
  box-sizing: border-box;
  float: left;
  background: #d1a783;
  font-size: 0.22rem;
  border-radius: 2px;
  padding: 0.04rem 0.14rem;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(3) {
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.28rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(4) {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(4) span:nth-of-type(1) {
  color: #BE824E;
  margin-right: 0.3rem;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(4) span:nth-of-type(2) {
  color: #A3A3A3;
  text-decoration: line-through;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(5) {
  line-height: 0.52rem;
  font-size: 0.24rem;
  color: #555;
}
.maybeYouLove-list-wrap .list-row .list-item dl dd p:nth-of-type(5) span:nth-of-type(1) {
  margin-right: 0.3rem;
}
.maybeYouLove-list-container {
  width: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-top .maybeYouLove-list-logo {
  height: 2.8rem;
  margin: 0.6rem auto 0;
  text-align: center;
}
.maybeYouLove-list-container .maybeYouLove-list-top .maybeYouLove-list-logo img {
  display: inline-block;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-top .maybeYouLove-list-text {
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #717171;
  margin: 0.3rem 0 0.6rem;
  text-align: center;
}
.maybeYouLove-list-container .maybeYouLove-list-title {
  background: #fff;
  vertical-align: middle;
  padding-top: 0.3rem;
  text-align: center;
  line-height: 0.44rem;
}
.maybeYouLove-list-container .maybeYouLove-list-title span {
  font-size: 0.32rem;
  color: #555555;
}
.maybeYouLove-list-container .maybeYouLove-list-title img {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.12rem;
  vertical-align: -0.04rem;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner {
  width: 100%;
  height: 3rem;
  margin-bottom: 0.2rem;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container {
  width: 100%;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-pagination-bullets {
  text-align: right;
  padding: 0.1rem 0.3rem 0.1rem 0.1rem;
  box-sizing: border-box;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.14rem;
  height: 0.14rem;
  margin: 0 0.08rem;
}
.maybeYouLove-list-container .maybeYouLove-list-content .maybeYouLove-list-banner .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #D1A783;
}
.product-list-item-container {
  width: 100%;
  padding-left: .3rem;
  background: #fff;
}
.product-list-item-container .product-list-item-wrap {
  padding: .3rem .3rem .3rem 0;
  border-bottom: 1px solid #f1f2f6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox .am-checkbox-wrapper {
  font-size: .28rem;
  color: #555555;
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox .am-checkbox-wrapper .am-checkbox {
  width: .32rem;
  height: .32rem;
  margin-right: .3rem;
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox .am-checkbox-wrapper .am-checkbox .am-checkbox-inner {
  width: .32rem;
  height: .32rem;
  border: 0;
  background: url('../img/unchecked.png') no-repeat;
  background-size: 100%;
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox .am-checkbox-wrapper .am-checkbox .am-checkbox-inner::after {
  display: none;
  width: 0;
}
.product-list-item-container .product-list-item-wrap .product-list-item-checkbox .am-checkbox-wrapper .am-checkbox-checked .am-checkbox-inner {
  background: url('../img/checked.png') no-repeat;
  background-size: 100%;
}
.product-list-item-container .product-list-item-wrap .product-list-item-pic {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
}
.product-list-item-container .product-list-item-wrap .product-list-item-pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.product-list-item-container .product-list-item-wrap .product-list-item-desc {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  padding-left: .3rem;
  position: relative;
}
.product-list-item-container .product-list-item-wrap .product-list-item-desc .product-list-item-name {
  font-size: .28rem;
  color: #353535;
  line-height: .42rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-list-item-container .product-list-item-wrap .product-list-item-desc .product-list-item-price-wrap {
  line-height: .42rem;
  position: absolute;
  bottom: 0;
}
.product-list-item-container .product-list-item-wrap .product-list-item-desc .product-list-item-price-wrap .product-list-item-price {
  font-size: .3rem;
  color: #BE824E;
}
.product-list-item-container .product-list-item-wrap .product-list-item-desc .product-list-item-price-wrap .product-list-item-oldPrice {
  font-size: .24rem;
  color: #A3A3A3;
  margin-left: .2rem;
  text-decoration: line-through;
}
.not-data-container {
  width: 100%;
}
.not-data-container .not-data-content {
  padding-top: 45%;
  text-align: center;
}
.not-data-container .not-data-content .not-data-logo {
  width: 1.54rem;
  height: 2.76rem;
  margin: 0 auto;
}
.not-data-container .not-data-content .not-data-logo img {
  width: 100%;
  height: 100%;
}
.not-data-container .not-data-content .not-data-btn {
  margin-top: .3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.not-data-container .not-data-content .not-data-btn span {
  display: block;
  padding: .12rem .2rem;
  font-size: .24rem;
  color: #fff;
  background: #D1A783;
  border-radius: 2px;
  margin: 0 auto;
}
.imgCode-container {
  width: 1.52rem;
  height: .54rem;
}
.imgCode-container img {
  width: 100%;
  height: 100%;
}
.messageCode-container.am-button {
  background: #D1A783;
  border-radius: 5px;
  margin-top: 0;
  border: 0;
}
.messageCode-container.am-button span {
  font-size: .28rem;
  color: #FFFFFF;
}
.share-mask-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 9999;
}
.share-mask-container .share-mask-tip {
  text-align: right;
}
.share-mask-container .share-mask-bottom {
  width: 100%;
}
.share-mask-container .share-mask-bottom .share-mask-content {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: .3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  height: 3.3rem;
  padding: 0 .3rem;
  box-sizing: border-box;
}
.share-mask-container .share-mask-bottom .share-mask-content .share-mask-title {
  width: .96rem;
  line-height: .4rem;
  border-right: 1px solid #E2E1E1;
  text-align: center;
  font-size: .28rem;
  color: #555555;
  background: #fff;
  padding-top: 1.04rem;
  border-top-left-radius: .06rem;
  border-bottom-left-radius: .06rem;
}
.share-mask-container .share-mask-bottom .share-mask-content .share-mask-icons {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  overflow: hidden;
  background: #fff;
  border-top-right-radius: .06rem;
  border-bottom-right-radius: .06rem;
}
.share-mask-container .share-mask-bottom .share-mask-content .share-mask-icons img {
  display: block;
  width: .9rem;
  height: .9rem;
  margin: .5rem .29rem 0;
  float: left;
}
.goods-list-item-container {
  width: 50%;
  padding-right: 0.3rem;
  box-sizing: border-box;
  float: left;
  background: #fff;
}
.goods-list-item-container dl {
  width: 100%;
  padding-bottom: 0.24rem;
  box-sizing: border-box;
}
.goods-list-item-container dl dt {
  position: relative;
}
.goods-list-item-container dl dt img {
  display: block;
  width: 100%;
  height: 3.3rem;
}
.goods-list-item-container dl dt .tip {
  display: block;
  width: 0.3rem;
  padding: 0.04rem 0;
  box-sizing: border-box;
  font-size: 0.18rem;
  color: #BE824E;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #BE824E;
  border-radius: 1px;
  position: absolute;
  top: 0.12rem;
  left: 0.12rem;
  text-align: center;
}
.goods-list-item-container dl dt .bank-tip {
  display: block;
  width: 1.44rem;
  height: 0.64rem;
  font-size: 0.44rem;
  color: #fff;
  text-align: center;
  line-height: 0.64rem;
  position: absolute;
  right: 0;
  top: 0.24rem;
  background: url('../img/bank-tip.png') no-repeat;
  background-size: 100%;
}
.goods-list-item-container dl dt .top-rank {
  display: block;
  width: .48rem;
  height: .48rem;
  font-size: .18rem;
  color: #BE824E;
  text-align: center;
  padding-top: .02rem;
  position: absolute;
  right: .12rem;
  top: .12rem;
  background: url('../img/top_rank.png') no-repeat;
  background-size: 100%;
}
.goods-list-item-container dl dd p {
  text-align: left;
}
.goods-list-item-container dl dd p:nth-of-type(1) {
  height: 0.72rem;
  line-height: 0.72rem;
  background: #F9F2EC;
  border-radius: 0 0 0.08rem 0.08rem;
  font-size: 0.24rem;
  color: #BE824E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.2rem;
  box-sizing: border-box;
}
.goods-list-item-container dl dd p:nth-of-type(2) {
  width: 100%;
  overflow: hidden;
  margin-top: 0.12rem;
}
.goods-list-item-container dl dd p:nth-of-type(2) span {
  display: block;
  margin-right: 0.2rem;
  color: #fff;
  box-sizing: border-box;
  float: left;
  background: #d1a783;
  font-size: 0.22rem;
  border-radius: 2px;
  padding: 0.04rem 0.14rem;
}
.goods-list-item-container dl dd p:nth-of-type(3) {
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.28rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.goods-list-item-container dl dd p:nth-of-type(4) {
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
}
.goods-list-item-container dl dd p:nth-of-type(4) span:nth-of-type(1) {
  color: #BE824E;
  margin-right: 0.3rem;
}
.goods-list-item-container dl dd p:nth-of-type(4) span:nth-of-type(2) {
  color: #A3A3A3;
  text-decoration: line-through;
}
.goods-list-item-container dl dd p:nth-of-type(5) {
  line-height: 0.52rem;
  font-size: 0.24rem;
  color: #555;
}
.goods-list-item-container dl dd p:nth-of-type(5) span:nth-of-type(1) {
  margin-right: 0.3rem;
}
.search-bar-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
}
.search-bar-container .search-bar-left {
  background: #fff;
  width: .46rem;
  height: 44px;
  padding-left: .3rem;
  position: relative;
}
.search-bar-container .search-bar-left img {
  display: block;
  width: .16rem;
  height: .3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.search-bar-container .search-bar-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
.search-bar-container .search-bar-content .am-search {
  padding: 0 .3rem;
  background: #fff;
}
.search-bar-container .search-bar-content .am-search .am-search-input {
  background: #F5F5F5;
  border-radius: 5px;
}
.search-bar-container .search-bar-content .am-search .am-search-input .am-search-synthetic-ph {
  text-align: left;
  padding-left: .3rem;
}
.search-bar-container .search-bar-content .am-search .am-search-input .am-search-synthetic-ph .am-search-synthetic-ph-container .am-search-synthetic-ph-icon {
  background: url('../img/search.png') no-repeat;
  background-size: 100%;
}
.search-bar-container .search-bar-content .am-search .am-search-input .am-search-synthetic-ph .am-search-synthetic-ph-container .am-search-synthetic-ph-placeholder {
  font-size: .28rem;
  color: #A3A3A3;
}
.search-bar-container .search-bar-content .am-search .am-search-input .am-search-value {
  font-size: .28rem;
  color: #555555;
}
.search-bar-container .search-bar-content .am-search .am-search-input .am-search-clear {
  display: none;
}
.search-bar-container .search-bar-content .am-search .am-search-cancel {
  padding-left: .3rem;
  font-size: .3rem;
  color: #717171;
}
.search-bar-container .search-bar-content .am-search-start .am-search-input .am-search-synthetic-ph {
  width: 100% !important;
}
.scroll-to-top-container {
  width: .8rem;
  height: .8rem;
  text-align: center;
  line-height: .64rem;
  position: fixed;
  right: 0.3rem;
  bottom: 1.86rem;
  font-size: .24rem;
  color: #555;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.scroll-to-top-container img {
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  left: 50%;
  top: 50%;
}
.index-start-mask-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-pic {
  border-radius: 0.22rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-pic img {
  display: block;
  border-radius: 0.22rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-pic .index-start-mask-pic-mid {
  display: block;
  width: 6rem;
  height: 8rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-pic .index-start-mask-pic-left,
.index-start-mask-container .index-start-mask-content .index-start-mask-pic .index-start-mask-pic-right {
  display: inline-block;
  width: 3rem;
  height: 8rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-pic .index-start-mask-pic-top,
.index-start-mask-container .index-start-mask-content .index-start-mask-pic .index-start-mask-pic-bottom {
  display: block;
  width: 6rem;
  height: 4rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-close {
  margin-top: .3rem;
}
.index-start-mask-container .index-start-mask-content .index-start-mask-close img {
  display: block;
  width: .8rem;
  height: .8rem;
  margin: 0 auto;
}
.pt_item_detail {
  box-sizing: border-box;
  padding: .36rem .3rem;
  background: #ffffff;
  height: 2.69rem;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: .1rem;
  display: flex;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.pt_item_detail .pic {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
}
.pt_item_detail .pic img {
  width: 100%;
}
.pt_item_detail .pic a {
  border: 1px #D1A783 solid;
  border-radius: .04rem;
  width: .3rem;
  text-align: center;
  line-height: .3rem;
  font-size: .18rem;
  color: #BE824E;
  position: absolute;
  left: .12rem;
  top: .12rem;
  background: rgba(255, 255, 255, 0.9);
}
.pt_item_detail .basic {
  padding-left: 2.3rem;
}
.pt_item_detail .basic .good-title {
  font-size: .28rem;
  color: #353535;
  line-height: .4rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pt_item_detail .basic .good-title {
  font-size: .28rem;
  color: #353535;
  line-height: .4rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pt_item_detail .basic .good-price {
  font-family: 'PingFangSC-Regular';
  font-size: .3rem;
  line-height: .48rem;
  letter-spacing: 0;
}
.pt_item_detail .basic .good-price .price {
  color: #BE824E;
}
.pt_item_detail .basic .good-price .oldprice {
  font-size: .24rem;
  color: #a3a3a3;
  vertical-align: 0.01rem;
  margin-left: .2rem;
  text-decoration: line-through;
}
.pt_item_detail .basic .buy-number {
  font-size: .28rem;
  color: #a3a3a3;
  position: absolute;
  bottom: .46rem;
}
.pt_item_detail .basic .btn a {
  position: absolute;
  background: #D1A783;
  border-radius: .06rem;
  width: 1.6rem;
  height: .56rem;
  line-height: .58rem;
  text-align: center;
  color: #ffffff;
  right: .36rem;
  bottom: .36rem;
}
.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.loading-container .loading-content {
  background: #fff;
  border-radius: .1rem;
}
.loading-container .loading-content img {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  padding: .2rem .46rem;
}
.loading-container .loading-content p {
  font-size: .24rem;
  color: #717171;
  padding-bottom: .2rem;
  text-align: center;
}
.tabBar-container {
  width: 100%;
  height: 0.98rem;
  border-top: 1px solid #eaeaea;
  background: #F9FAFB;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}
.tabBar-container ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  height: 100%;
}
.tabBar-container ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  height: 100%;
}
.tabBar-container ul li a {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  position: relative;
}
.tabBar-container ul li a img {
  display: block;
  width: 0.46rem;
  height: 0.46rem;
  margin-top: -0.04rem;
}
.tabBar-container ul li a img.big-logo {
  width: 1.02rem;
  height: 1.02rem;
  border-radius: 50%;
  margin-top: -0.52rem;
}
.tabBar-container ul li a i {
  font-size: 0.24rem;
  color: #717171;
  font-style: normal;
  margin-top: 0.08rem;
}
.tabBar-container ul li a .tabBar-cart-badge {
  font-family: 'PingFangSC-Regular';
  position: absolute;
  top: -0.12rem;
  left: 0.62rem;
  font-size: 0.36rem;
  border-radius: 0.8rem;
  background: #BE824E;
  padding: 0 0.08rem;
  vertical-align: bottom;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  min-width: 0.56rem;
  color: #ffffff;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  box-sizing: content-box;
}
.tabBar-container ul li.on a i {
  color: #BE824E;
}
